.wrapper{
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.wrapper img{
  width: 100%;
  max-width: 600px;
  margin: 15px 0;
}

.container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row{
  width: 100%;
  position: relative;
}

input[type="text"]{
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-bottom: 2px solid #9b4dcb;
}

input[type="file"]{
  width: 100%;
  height: 40px;
  opacity: 0;
}

.upload-button{
  height: 40px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  color: #37006a;
  font-size: 20px;
  position: absolute;
  top: 0;
  z-index: -1;
  border: 1px solid #37006a;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 20px;
}

.button-save{
  background: #37006a;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: all ease-out 0.2s;
}

.button-save:hover{
  opacity: 0.5;
}